#page1 {
  height: 750px;
}

#page2 {
  height: 1000px;
}

#page3 {
  height: 1000px;
}


body{
  background: #F7F3F1;
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 200;
  
  max-width: 100%;
  
 overflow-y: scroll;
overflow-x: hidden;
}


.title{
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 200;
  font-size: 6.5em;
  margin: 0;
/*   padding: 0; */ 
  text-align: right;
  padding: 10px 50px;
  right: 0;
  top: 0;
/*   display: inline-block; */
/*   background: pink; */
}


nav{
  z-index: 1;
  background: #F7F3F1;
/*   background: orange; */
  font-weight: 400;

/*   background: #fff; */
  padding: 10px;
/*   display: block; */
  width: 100%;

/*   width: 1280px; */
text-align: right;
  bottom: 0px;
  right: 0;
  position: fixed;
}

nav ul{
  padding: 0;
  margin: 5px auto;
}

nav ul li{
  display: inline-block;
  text-decoration: none;
  line-height: 1.75em;
  text-transform: uppercase;
/*     letter-spacing: .25em; */
/*     text-align: center; */
    font-size: 1em;
  margin-right: 2.5em;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.25em;
/*     padding: 0 14px; */
}

nav ul li a:hover{
  color: gray;
}





/* Styling for home page */


.mainChar ul li:first-child {
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 400;
}

navigation{
/*   background: green; */
  
 
}



/* .title{
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 200;
  font-size: 6.5em;
  margin: 0;
  padding: 0;
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
} */

.dala {
/*  position: absolute;*/
  margin: 0 auto;
/*   background: #000; */
  width: 40%;
/*  bottom: 0%;*/
  padding: 0 0 60px 50px;

}

.mainChar{
  float: right;
  padding-right: 50px;
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.3em;
}

li {
  text-decoration: none;
  list-style-type: none;
}

@media screen and (max-width:745px) {
  .dala {
    padding: 0 0 35px 50px;
/*     background: green; */
  }
}


@media screen and (max-width:670px) {
  .dala {
    padding: 0 0 80px 50px;
/*     background: green; */
  }
}








/* Styling for Contact Me Page */

.p{
  padding: 0 20px 10px 20px;
/*   display: inline-block; */
  position: absolute;
  font-weight: 300 !important;
    line-height: 1.35;
    
  right: 0px;
  width: 50%;
 
}

nav{
/*   position: fixed;
  background: #F7F3F1; */
/*   background: orange; */
/*   font-weight: 400; */
/*   position: absolute; */
/*   background: #fff; */
/*   padding: 10px; */
/*   display: block; */
/*   width: 100%; */
}

.me{
  border-radius: 5%; 
  width: 15%;
  
}

.dalaDallaDalllaDalllla{
 position: absolute;
  margin: 0 auto;

  width: 25%;
/*  bottom: 0%;*/
  padding: 0 0 60px 50px;
}



label {

	float: left;
/* 	text-align: right; */
/* 	margin-right: 15px; */
	width: 70px;
  
  border: none;

}
input{
margin-bottom: 15px;
  
}

label[for="message"]{
/*   padding-bottom: 10px; */
/*   padding-top: 10px; */
}

input[type="submit"]{
  margin-top: 10px;
  margin-bottom: 160px;
  display: block;
}

textarea{
/*   width: 60%; */
  display: block;
  height: 50px;
  padding-bottom: 60px;
}

textarea:focus, input:focus {
	border: 2px solid #900;
}


h2{
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 300;
}





/* styling for about page */


body{
  background: #F7F3F1;
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 200;
  
  max-width: 100%;
}


article{
  padding-bottom: 100px;
}

.dalaDalaDallaDalllaDallllaDallllla{
/*  position: absolute;*/
  margin: 0 auto;
   background: #000; 
  width: 40%;
/*  bottom: 0%;*/
  padding: 0 0 60px 50px;
  
  
}

.resume{
  padding: 0 50px 10px 20px;
/*   display: inline-block; */
  position: absolute;
  
  right: 0px;
  width: 50%;
 
}

h1{
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 300;
  
}


a{
  text-decoration: none;
}

.bar {
    width:110px;
    display: inline-block;
/*    background: green;*/
}

/*@media  screen and (max-width:);*/
    


div ul{
  
  list-style-type: none;
    color: black;
}

.panel-group{
  padding-bottom: 50px;
}

@media screen and (max-width:700px){
  .dala {
    width: 150px;
  }  
}


/* styling for portfolio page */



.dalaDallaDallla{
/*  position: absolute;*/
  width:40%;
/*  bottom: 0%;*/
  padding: 0 0 60px 50px;
  margin-left: 0;
  
}


.navbargrid {
  margin: 0 auto;
}
.navbar{
/*   width: 40px; */
  padding: 5px 0;
	margin: 0 0 40px;
/* 	box-shadow: 0 1px 0 #aaa, 0px 0px 0 #aaa; */
}


section {
/*   background: #ded; */
}
/* Custom elements style */
.wrapper {
/* 	position: relative; */
/*   margin: 0 auto; */
/* 	padding: 50px 0 50px 0; */
}

.topbar {
 
	position: relative;
	padding: 10px 0;
	margin: 40px 0 30px;
/* 	box-shadow: 0 1px 0 #aaa, 0px 0px 0 #aaa; */
}

a{
  text-decoration: none;
}
.back {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -20px;
	border-radius: 50%;
	text-align: center;
	line-height: 55px;
/* 	color: #999; */
	background: #ddd;
  border: 3px solid #fff;
/* 	background: rgba(255,255,255,0.5); */
	cursor: pointer;
	display: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-touch .back:hover {
	background: #fff;
	background: rgba(255,255,255,0.9);
}

.topbar h2,
.topbar h3 {
	display: inline-block;
	font-weight: 300;
	font-size: 40px;
	width: 49%;
	min-width: 320px;
}

.topbar h2 {
	padding-right: 20px;
/* 	color: #666; */
}

.topbar h3 {
	text-align: right;
	padding-left: 20px;
/* 	color: #aaa; */
}

/* Loader */

.loader {
	left: 50%;
	position: absolute;
	margin-left: -120px;
}

.loader i {
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-animation: loading 1s linear infinite forwards;
	-moz-animation: loading 1s linear infinite forwards;
	-o-animation: loading 1s linear infinite forwards;
	-ms-animation: loading 1s linear infinite forwards;
	animation: loading 1s linear infinite forwards;
}

.cssanimations .loader span {
	display: none;
}

.no-cssanimations .loader i {
	display: none;
}

.loader i:nth-child(2){
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader i:nth-child(3){
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader i:nth-child(4){
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loader i:nth-child(5){
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loader i:nth-child(6){
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-webkit-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-moz-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-moz-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-o-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-o-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-ms-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-ms-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@media screen and (max-width: 680px){
	.topbar h2, .topbar h3 {
    text-align: left; 
    padding: 0; 
    display: block;
  }
	.back { 
    left: auto; 
    right: 0px; 
    margin-left: 0px;
  }
  div ul li {
   
/*     background: green; */
      font-weight: 300;
      font-size: 1.25em;
       z-index: 1;
  }
}

@media screen and (min-width: 680px){
  
  .wrapper {
    
/*     background: pink; */
  }
}




/* General Demo Style */


*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}



.container {
	width: 100%;
	position: relative;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.container > header,
.main {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}

.container > header {
	padding: 30px 25px 50px 25px;
} 

.container > header h1 {
	font-size: 18px;
	margin: 0;
	font-weight: 700;
	color: #666;
	float: left;
	text-shadow: 0 0 1px rgba(0,0,0,0.2);
	display: inline-block;
	width: 50%;
	min-width: 320px;
}

.container > header h1 span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	display: inline-block;
	padding-top: 5px;
	text-align: right;
	width: 50%;
	min-width: 320px;
}

.codrops-demos a {
	display: inline-block;
	margin: 10px 20px 0 0;
	color: #666;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 4px solid transparent;
}

.codrops-demos a:last-child {
	margin-right: 0px;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.support-note {
	clear: both;
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	padding: 20px;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 640px){
	.codrops-demos { text-align: left;}
}



.tp-grid {
 max-width: 770px;
	list-style-type: none;
	position: relative;
	display: block;
}

.tp-grid li {
	position: absolute;
	cursor: pointer;
	border: 10px solid #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
/* 	display: none; */
	overflow: hidden;
	backface-visibility: hidden;
}

.no-js .tp-grid li {
	position: relative;
	display: inline-block;
}

.tp-grid li a {
	display: block;
	outline: none;
}

.tp-grid li img {
	display: block;
	border: none;
}

.tp-info,
.tp-title {
	position: absolute;
	background: #fff;
	line-height: 20px;
	top: 70%;
	width: 75%;
	padding: 10px;
	font-weight: 300;
	text-align: right;
	left: -100%;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1),
		5px 0 5px -3px rgba(0,0,0,0.4),
		inset 0 0 5px rgba(0,0,0,0.04);
}

.touch .tp-info {
	left: 0px;
}

.no-touch .tp-info {
	transition: all 0.3s ease-in-out;
}

.no-touch .tp-grid li:hover .tp-info {
	transition-delay: 150ms;
}

.no-touch .tp-open li:hover .tp-info {
	left: 0px;
}

.tp-title {
	padding: 10px 35px 10px 10px;
	left: 0px;
}

.tp-title span:nth-child(2){
	color: #aaa;
	padding: 0 5px;
	background: #F7F7F7;
	right: 0px;
	height: 100%;
	line-height: 40px;
	top: 0px;
	position: absolute;
	display: block;
}


.wrapper{  
/*   bottom: 0%; */
/*     min-width: 310px; */
  width: 50%;
/*  right:0;*/
/*   text-align: right; */
/*     max-width: 1270px; */
/*     margin-left: 149px; */
  margin-top: 0 auto;
  padding-bottom: 70px;
    padding-right: 45px;
/*     height: 704px; */
/*  background: green;*/
  float: right;
  margin-right: 20px;
}






/*404 page styling*/


.dala404 {
    margin-top:5em;
    width: 50%;
/*    background: black;*/
    
    
}

.fourofour {
   font-size: 1.5em;
    margin-top: 0;
    padding-top: 20px;
    line-height: 1em
}


.b404{
/*    background: pink;*/
    text-align: center
}





